* {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  color: white;
  font-size: 2rem;
}
